{
  "model": "opus",
  "statusLine": {
    "type": "command",
    "command": "sh \"{{ .chezmoi.homeDir }}/.claude/statusline-command.sh\""
  },
  "enabledPlugins": {
    "rust-analyzer-lsp@claude-plugins-official": true,
    "cook@claude-code-cookbook": true,
    "notion@claude-plugins-official": true,
    "notion-workspace-plugin@notion-plugin-marketplace": true,
    "code-review@claude-plugins-official": true,
    "code-simplifier@claude-plugins-official": true,
    "github@claude-plugins-official": true,
    "feature-dev@claude-plugins-official": true,
    "playwright@claude-plugins-official": true,
    "claude-md-management@claude-plugins-official": true,
    "skill-creator@claude-plugins-official": true,
    "security-guidance@claude-plugins-official": true,
    "commit-commands@claude-plugins-official": true,
    "claude-code-setup@claude-plugins-official": true,
    "pr-review-toolkit@claude-plugins-official": true,
    "plugin-dev@claude-plugins-official": true,
    "greptile@claude-plugins-official": true,
    "chrome-devtools-mcp@claude-plugins-official": true,
    "ruby-lsp@claude-plugins-official": true
  },
  "extraKnownMarketplaces": {
    "claude-code-cookbook": {
      "source": {
        "source": "github",
        "repo": "wasabeef/claude-code-cookbook"
      }
    },
    "notion-plugin-marketplace": {
      "source": {
        "source": "github",
        "repo": "makenotion/claude-code-notion-plugin"
      }
    }
  },
  "language": "Japanese"
}
