# 関数の引数に別の色をつける
[[plugins]]
repo = 'm-demare/hlargs.nvim'
on_event = 'BufRead'

# ブロックの最後に定義を表示
#[[plugins]]
#repo = 'haringsrob/nvim_context_vt'
#on_event = 'BufRead'

[[plugins]]
repo = 'elixir-lang/vim-elixir'
on_ft = 'elixir'

[[plugins]]
repo = 'thinca/vim-ref'
on_ft = 'elixir'

[[plugins]]
repo = 'awetzel/elixir.nvim'
build = './install.sh'
on_ft = 'elixir'

[[plugins]]
repo = 'rust-lang/rust.vim'
on_ft = 'rust'
